/*--- сбрасываем стили --- */
::before,
::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

/* убираем декорацию ссылок */
a {
  text-decoration: none;
  /* указываем "color: inherit", т.к. ссылки цвет не наследуют */
  color: inherit;
}

/* убираем стиль списков */
ul,
ol,
li {
  list-style: none;
}

/* выравниваем изображения по верху */
img {
  vertical-align: top;
}

/* убираем стили заголовков */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/* дефолтные настройки для всего документа */
html,
body {
  height: 100%;
  line-height: 1;
  background-color: #fafafa;
  font-size: 14px;
  color: #252b42;
  font-weight: 500;
  font-family: Montserrat;
}

/*--- глобальные стили --- */

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  /* выстраиваем все блоки обертки в колонку */
  flex-direction: column;
}

._container {
  max-width: 1046px;
  padding: 0px 15px 0px 15px;
  /* выстроит блок по центру */
  margin: 0px auto;
  /* исключаем "прилипание" блока к странице с лева (padding не учитываеться в размере блока) */
  box-sizing: content-box;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* object-fit, позволит сохранить пропорции исходного изображения при подстройке под нужные размеры. */
  object-fit: cover;
}

/*--- header --- */

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  /* проставляем большой z-index, header будет на первом плане */
  z-index: 50;
}

.header__container {
  display: flex;
  min-height: 104px;
  align-items: center;
}

@media (max-width: 479px) {
  .header__container {
    min-height: 70px;
  }
}

.header__logo {
  font-size: 24px;
  font-weight: 700;
}

.header__menu {
  /* применяем стили к блоку который не влияет на окружающие (правила БЭМ) */
  margin: 0px 0px 0px 133px;
}

@media (max-width: 992px) {
  .header__menu {
    margin: 0px 0px 0px 80px;
  }
}

@media (max-width: 767px) {
  .header__menu {
    margin: 0px 0px 0px 40px;
  }
}

@media (max-width: 479px) {
  .header__menu {
    margin: 0px 0px 0px 20px;
  }
}

.menu {
  /* исключаем "прилипание" контента к верхней области при мобильной версии страницы */
  padding: 5px 0;
}

.menu__list {
  /* пункты списка перестраиваються в зависимости от ширины страницы (в будущем, при добавлении контента страница будет стабильна)*/
  flex-wrap: wrap;
  display: flex;
}

.menu__item:not(:last-child) {
  margin: 0px 21px 0px 0px;
}

.menu__link {
  color: #737373;
  font-weight: 600;
  /* указываем размер шрифта в зависимости от главного шрифта logo (в процентах) */
  line-height: calc(24 / 14 * 100%);
}

@media (max-width: 479px) {
  .menu__link {
    /* в мобильной версии увеличиваем шрифт для удобства пользователя */
    font-size: 18px;
  }
}

/*--- page --- */
.page {
  /* позволяет main увеличиваться по вертикали */
  flex: 1 1 auto;
}

.page__main-block {
}

.page__services {
  position: relative;
  z-index: 2;
  /* сдвигаем блоки вверх, позиционируем для видимости (только за отрицательным margin "поднимуться" все остальные блоки) */
  margin: -111px 0px 0px 0px;
}

.page__advantages {
}

.page__practice {
}

.page__whoweare {
}

.page__clients {
}

.page__clients:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.page__subscribe {
}

.page__getintouch {
}

/*--- header-block --- */
.header-block {
  text-align: center;
}

.header-block__title {
  color: linear-gradient(0deg, #252b42, #252b42),
    linear-gradient(0deg, #000000, #000000);
  font-size: 40px;
  font-weight: 700;
  line-height: calc(57 / 40 * 100%);
  letter-spacing: 0.2px;
}

.header-block__sub-title {
  color: #737373;
  font-size: 14px;
  font-weight: 500;
  line-height: calc(20 / 14 * 100%);
  letter-spacing: 0.2px;
}

/* --- main-block --- */
.main-block {
  position: relative;
}

.main-block__container {
}

.main-block__body {
  padding: 184px 0px 191px 0px;
  position: relative;
  z-index: 2;
  max-width: 400px;
}

@media (max-width: 992px) {
  .main-block__body {
    padding: 120px 0px 191px 0px;
  }
}

/* Обращаемся ко всем объектам первого уровня с любым тегом (кроме строчных тегов)*/
.main-block__body > *:not(:last-child) {
  margin: 0px 0px 35px 0px;
}

.main-block__title {
  font-size: 58px;
  line-height: calc(80 / 58 * 100%);
  /* letter-spacing определяет межбуквенное растояние в тексте */
  letter-spacing: 0.2px;
  font-weight: 800;
}

@media (max-width: 479px) {
  .main-block__title {
    font-size: 42px;
  }
}

.main-block__text {
  color: #737373;
  font-size: 20px;
  line-height: calc(30 / 20 * 100%);
  letter-spacing: 0.2px;
  font-weight: 500;
}

@media (max-width: 479px) {
  .main-block__text {
    color: #464646;
  }
}

.main-block__buttons {
  display: flex;
  flex-wrap: wrap;
  margin: -10px 0px;
}

.main-block__button {
  font-weight: 700;
  line-height: calc(28 / 14 * 100%);
  border-radius: 37px;
  letter-spacing: 0.2px;
  display: flex;
  min-height: 48px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px 36px;
  margin: 10px 0px;
}

@media (max-width: 479px) {
  .main-block__button {
    flex: 1 1 100%;
  }
}

@media (min-width: 479px) {
  .main-block__button:not(:last-child) {
    margin-right: 10px;
  }
}

.main-block__button_orange {
  background-color: #ff7b47;
  color: #ffffff;
}

.main-block__button_border {
  color: #0d5c63;
  border: 1px solid #0d5c63;
}

.main-block__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@media (max-width: 1300px) {
  .main-block__image img {
    /* картинка фиксируется от правого края (суть изобрашения остается видимым) */
    object-position: right;
  }
}

@media (max-width: 992px) {
  .main-block__image {
    /* "выбеливаем" картинку для лучшей читаемости текста */
    opacity: 0.7;
  }
}

/* --- services --- */
.services {
}

.services__container {
}

.services__body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

@media (max-width: 992px) {
  .services__body {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .services__body {
    grid-template-columns: auto;
    gap: 20px;
  }
}

.services__column {
}

@media (max-width: 992px) {
  .services__column:last-child {
    grid-column: 1 / 3;
  }
}

@media (max-width: 600px) {
  .services__column:last-child {
    grid-column: auto;
  }
}

.services__item {
  height: 242px;
  justify-items: center;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  background-color: #ffffff;
  padding: 35px 40px;
}

.item-service {
}

.item-service_green {
  background-color: #0d5c63;
}

/* задаем отступы, всем элементам кроме последнего */
.item-service > *:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.item-service_green .item-service__title {
  color: #ffffff;
}

.item-service_green .item-service__text {
  color: #ffffff;
}

.item-service__icon {
}

.item-service__title {
  font-weight: 700;
  /* задаем растояние между буквами */
  letter-spacing: 0.1%;
  font-size: 24px;
  line-height: calc(32 / 24 * 100%);
}

.item-service__text {
  color: #737373;
  font-weight: 500;
  letter-spacing: 0.2%;
  font-size: 14px;
  line-height: calc(20 / 14 * 100%);
}

/* --- advantages --- */
.advantages {
  margin: 80px 0px 80px 0px;
}

@media (max-width: 600px) {
  .advantages {
    margin: 40px 0px 40px 0px;
  }
}

.advantages__container {
}

.advantages__header {
}

.advantages__header .header-block__title {
  margin: 0px 0px 10px 0px;
}

.advantages__header .header-block__sub-title {
  margin: 0px 0px 50px 0px;
}

@media (max-width: 600px) {
  .advantages__header .header-block__sub-title {
    margin: 0px 0px 25px 0px;
  }
}

.advantages__body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}

@media (max-width: 992px) {
  .advantages__body {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .advantages__body {
    gap: 20px;
  }
}

@media (max-width: 479px) {
  .advantages__body {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}

.advantages__column {
  height: 209px;
}

.advantages__item {
  justify-items: center;
  box-shadow: 4px 0px, 4px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  padding: 30px;
}

.advantages__item > *:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.advantages__icon {
  margin-left: auto;
  margin-right: auto;
}

.advantages__icon > img {
  width: 48px;
  height: 48px;
}

.advantages__value {
  text-align: center;
  color: #252b42;
  font-weight: 700;
  letter-spacing: 0.2%;
  font-size: 40px;
  line-height: calc(57 / 40 * 100%);
}

.advantages__text {
  text-align: center;
  color: #737373;
  font-weight: 700;
  letter-spacing: 0.1%;
  font-size: 16px;
  line-height: calc(24 / 16 * 100%);
}

/* --- practice --- */
.practice {
}

.practice__container {
}

.practice__header {
  margin: 80px 0px 0px 0px;
}

.practice__header .header-block__title {
  margin: 0px 0px 10px 0px;
  padding: 45px 0px 0px 0px;
}

.practice__header .header-block__sub-title {
  margin: 0px 0px 45px 0px;
}

.practice__body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 35px;
}

@media (max-width: 1040px) {
  .practice__body {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .practice__body {
    gap: 20px;
  }
}

@media (max-width: 479px) {
  .practice__body {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}

.practice__column {
  height: 341px;
}

.item-practice__content {
  padding: 30px;
  flex: 1 1 auto;
}

.practice__item {
}

.item-practice {
  background-color: #ffffff;
  /* картинки будут всегда внизу колонки */
  display: flex;
  height: 100%;
  flex-direction: column;
}

.item-practice__link {
}

.item-practice__title {
  text-align: start;
  color: #252b42;
  font-weight: 700;
  letter-spacing: 0.1%;
  font-size: 16px;
  line-height: calc(24 / 16 * 100%);
  margin: 0px 0px 15px 0px;
}

.item-practice__text {
  text-align: start;
  color: #737373;
  font-weight: 500;
  letter-spacing: 0.2%;
  font-size: 14px;
  line-height: calc(20 / 14 * 100%);
}

.item-practice__image {
  display: block;
  padding: 0px 0px 60% 0px;
}

/* --- whoweare --- */
.whoweare {
  background-color: #ffffff;
  padding: 80px 0px 130px 0px;
}

.whoweare__header {
  margin: 0px 0px 100px 0px;
}

.whoweare__header .header-block__title {
  margin: 0px 0px 10px 0px;
}

.whoweare__container {
  margin-top: 100px;
  margin-bottom: 100px;
}

.whoweare__body {
  display: flex;
  align-items: flex-start;
}

.whoweare__video {
  flex: 0 0 57%;
  position: relative;
  /* задаем паддинг для видео в проценте от ширины контейнера */
  padding: 0px 0px 42.25% 0px;
}

.whoweare__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.whoweare__content {
  display: 1 1 auto;
  padding: 20px 0px 0px 121px;
}

.whoweare__top {
}

.whoweare__top:not(:last-child) {
  margin: 0px 0px 50px 0px;
}

.whoweare__title {
  text-align: start;
  color: #252b42;
  font-weight: 700;
  letter-spacing: 0.2%;
  font-size: 40px;
  line-height: calc(57 / 40 * 100%);
}

.whoweare__title:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.whoweare__text {
  text-align: start;
  color: #737373;
  font-weight: 500;
  letter-spacing: 0.2%;
  font-size: 14px;
  line-height: calc(20 / 14 * 100%);
}

.whoweare__text:not(:last-child) {
  margin: 0px 0px 50px 0px;
}

.whoweare__items {
}

.whoweare__item {
}

.whoweare__item:not(:last-child) {
  margin: 0px 0px 30px 0px;
}

.item-whoweare {
  display: flex;
}

.item-whoweare__icon {
  flex: 0 0 32px;
}

.item-whoweare__body {
  flex: 1 1 auto;
  padding: 0px 0px 0px 20px;
}

.item-whoweare__title {
  color: #252b42;
  font-weight: 700;
  letter-spacing: 0.1%;
  font-size: 16px;
  line-height: 123%;
  margin: 0px 0px 5px 0px;
}

.item-whoweare__title:not(:last-child) {
  margin: 0px 0px 5px 0px;
}

.item-whoweare__text {
  color: #737373;
  font-weight: 600;
  letter-spacing: 0.2%;
  font-size: 14px;
  line-height: 141%;
}

@media (max-width: 1040px) {
  .whoweare__content {
    padding: 0px 0px 0px 50px;
  }
}

@media (max-width: 950px) {
  .whoweare {
    padding: 50px 0px 50px 0px;
  }

  .whoweare__header {
    margin: 0px 0px 30px 0px;
  }

  .whoweare__body {
    flex-direction: column-reverse;
    align-items: stretch;
  }

  .whoweare__title {
    font-size: 24px;
  }

  .whoweare__content {
    padding: 0px 0px 0px 0px;
  }

  .whoweare__video {
    /* Задаем верные пропорции видео, с помощью поддинг (расчитываем верные пропорции с учетом ширины и высоты исходного файла) */
    padding: 0px 0px 56.25% 0px;
  }

  .whoweare__video:not(:last-child) {
    margin: 50px 0px 0px 0px;
  }

  .whoweare__header {
    padding: 0px 0px 30px 0px;
  }
}

@media (max-width: 767px) {
  .whoweare {
    padding: 20px 0px 50px 0px;
  }

  .whoweare__header {
    margin: 0px 0px 0px 0px;
  }

  .whoweare__top:not(:last-child) {
    margin: 0px 0px 30px 0px;
  }

  .whoweare__video:not(:last-child) {
    margin: 30px 0px 0px 0px;
  }
}

/* --- clients --- */
.clients {
  padding: 50px 0;
}

.clients__container {
}

.clients__items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.clients__item {
  padding: 10px 10px;
  flex: 0 1 14%;
  text-align: center;
}

.clients__item > img {
  max-width: 100%;
}

/* --- subscribe --- */
.subscribe {
  position: relative;
  padding: 0px 0px 20px 0px;
}
/* Создаем "полоску" через псевдокласс */
.subscribe::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 77px;
  left: 0;
  background-color: #252b42;
}
.subscribe__body {
  position: relative;
  z-index: 2;
  padding: 30px 50px;
  background-color: #17213c;
  border-radius: 2px;
}

.subscribe__title {
  flex: 0 1 50%;
  margin-top: 0px;
  margin-bottom: 0px;
  align-items: center;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 0.1%;
  font-size: 24px;
  line-height: 133%;
}
.subscribe__form {
  display: flex;
  flex: 0 1 50%;
  align-items: center;
  margin-left: auto;
}

.subscribe__input {
  flex: 1 1 auto;
  min-height: 56px;
  background: #f9f9f9;
  color: #737373;
  padding: 0px 20px;
  /* убрали лишний бордер справа */
  border-right: 0;
  border: 1px solid #e6e6e6;
  border-radius: 5px 0px 0px 5px;
}
.subscribe__input:focus {
  /* При вводе, цвет текста меняеться на черный */
  color: #000000;
}
.subscribe__button {
  background-color: #ff7b47;
  color: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 0px 5px 5px 0px;
  padding: 0px 22px;
  min-height: 58px;
  font-weight: 400;
  letter-spacing: 0.2%;
  font-size: 14px;
  line-height: 200%;
  align-items: center;
  text-align: center;
}
@media (min-width: 1070px) {
  .subscribe__body {
    margin: 0px 30px;
  }
}
@media (min-width: 810px) {
  .subscribe__body {
    display: flex;
    justify-content: space-between;
  }
  .subscribe__title {
    max-width: 266px;
  }

}
@media (max-width: 810px) {
  .subscribe__title {
    margin-bottom: 20px;
    text-align: center;
  }
  .subscribe__body {
    margin: 0px -15px;
    padding: 20px 15px;
  }
  .subscribe__button {
    padding: 0px 15px;
  }
}

.getintouch {
}
.getintouch__container {
}
.getintouch__header {
}
.header-block {
}
.header-block__title {
}
.header-block__sub-title {
}
.getintouch__items {
}
.getintouch__item {
}
.item-getintouch {
}
.item-getintouch__icon {
}
.item-getintouch__emails {
}
.item-getintouch__email {
}
.item-getintouch__label {
}
.item-getintouch__button {
}

/*--- footer --- */
.footer {
}
