/*--- сбрасываем стили --- */
::before,
::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

/* убираем декорацию ссылок */
a {
    text-decoration: none;
    /* указываем "color: inherit", т.к. ссылки цвет не наследуют */
    color: inherit;
}

/* убираем стиль списков */
ul,
ol,
li {
    list-style: none;
}

/* выравниваем изображения по верху */
img {
    vertical-align: top;
}

/* убираем стили заголовков */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

/* дефолтные настройки для всего документа */
html,
body {
    height: 100%;
    line-height: 1;
    font-size: 14px;
    color: #252B42;
    font-weight: 500;
    font-family: Montserrat;
}

/*--- глобальные стили --- */

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    /* выстраиваем все блоки обертки в колонку */
    flex-direction: column;
}

._container {
    max-width: 1046px;
    padding: 0px 15px;
    /* выстроит блок по центру */
    margin: 0px auto;
    /* исключаем "прилипание" блока к странице с лева (padding не учитываеться в размере блока) */
    box-sizing: content-box;
}

._ibg {
    position: relative;
}
._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* object-fit, позволит сохранить пропорции исходного изображения при подстройке под нужные размеры. */
    object-fit: cover;
}

/*--- header --- */

.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    /* проставляем большой z-index, header будет на первом плане */
    z-index: 50;
}

.header__container {
    display: flex;
    min-height: 104px;
    align-items: center;
}
@media (max-width: 479px) {
    .header__container {
        min-height: 70px;
    }
}

.header__logo {
    font-size: 24px;
    font-weight: 700;
}

.header__menu {
    /* применяем стили к блоку который не влияет на окружающие (правила БЭМ) */
    margin: 0px 0px 0px 133px;
}
@media (max-width: 992px) {
    .header__menu {
        margin: 0px 0px 0px 80px;
    }
}
@media (max-width: 767px) {
    .header__menu {
        margin: 0px 0px 0px 40px;
    }
}
@media (max-width: 479px) {
    .header__menu {
        margin: 0px 0px 0px 20px;
    }
}

.menu {
    /* исключаем "прилипание" контента к верхней области при мобильной версии страницы */
    padding: 5px 0;
}

.menu__list {
    /* пункты списка перестраиваються в зависимости от ширины страницы (в будущем, при добавлении контента страница будет стабильна)*/
    flex-wrap: wrap;
    display: flex;
}

.menu__item:not(:last-child) {
    margin: 0px 21px 0px 0px;
}

.menu__link {
    color: #737373;
    font-weight: 600;
    /* указываем размер шрифта в зависимости от главного шрифта logo (в процентах) */
    line-height: calc(24 / 14 * 100%);
}
@media (max-width: 479px) {
    .menu__link {
        /* в мобильной версии увеличиваем шрифт для удобства пользователя */
        font-size: 18px;
    }
}

/*--- page --- */
.page {
    /* позволяет main увеличиваться по вертикали */
    flex: 1 1 auto;
}
.page__main-block {
}

/* --- main-block --- */
.main-block {
    position: relative;
}
.main-block__container {
}
.main-block__body {
    padding: 184px 0px 191px 0px;
    position: relative;
    z-index: 2;
    max-width: 509px;
}
/* Обращаемся ко всем объектам первого уровня с любым тегом (кроме строчных тегов)*/
.main-block__body > *:not(:last-child){
    margin: 0px 0px 35px 0px;
}
.main-block__title {
    font-size: 58px;
    line-height: calc(80 / 58 * 100%);
    font-weight: 800;
}
.main-block__text {
    color: #737373;
    font-size: 20px;
    line-height: calc(30 / 20 *100%);
    font-weight: 500;
}
.main-block__buttons {
}
.main-block__button {
}
.main-block__button_border {
}
.main-block__image{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/*--- footer --- */
.footer {
}